section article:last-child {
  margin-bottom: 20px;
}

.copy {
  margin-top: -4px;
}
.apiurl {
  margin: 30px auto;
  text-align: center;
}
.apiurl input {
  width: 60%;
  height: 37px;
  font-size: 1em;
  font-family: monospace, serif;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  color: #717578;
  padding-left: 10px;
  margin-left: 25px;
  border: 1px solid #d1d5da;
  border-right-color: white;
}
.apiurl input:focus {
  border-color: var(--azul);
}
.requests,
.apis {
  margin-left: 35px;
}
.category h3 {
  margin-left: 0;
  margin-top: 70px;
}
.category h3 + .info {
  text-align: left;
}
.requests button,
.category button {
  min-width: 100px;
  height: 30px;
  cursor: pointer;
  margin: 15px auto;
  font-weight: 800;
  background-color: transparent;
  border-radius: 25px;
  /* border: 1px solid rgb(190, 190, 190); */
  color: var(--azulmarino);
  outline: none;
}
.requests .request-selected,
.category .category-selected {
  background-color: var(--azulmarino);
  color: white;
}
.requests span,
.category span {
  margin-left: 15px;
  display: inline-block;
}
.key {
  text-align: center;
}
.generate-key {
  border-radius: 25px;
  border: 1px solid rgb(190, 190, 190);
  color: rgb(190, 190, 190);
  display: block;
  padding: 5px 15px;
  width: 110px;
  margin: 15px auto;
  text-align: center;
  cursor: pointer;
  pointer-events: none;
}
.generate-key-active {
  font-weight: 800;
  border: 1px solid var(--rosa);
  color: var(--rosa);
  pointer-events: all;
}
.loading {
  visibility: hidden;
}
.loading p {
  font-size: 0.9em;
  font-style: italic;
  color: #3b3b3b;
  margin-bottom: 0;
  font-weight: 300;
}
.loading img {
  width: 120px;
}
#key {
  display: none;
  font-style: normal;
  font-weight: 600;
  text-decoration: underline;
  color: #00d170;
  font-size: 1.1em;
}
.apiurl .input-text {
  border: 1px solid #d1d5da;
  border-radius: 6px;
}

.send {
  text-align: center;
}
.send button {
  padding: 6px 18px;
  border-radius: 6px;
  background-color: var(--azulclaro);
  border: 1px solid #d1d5da;
  color: white;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
}
.response {
  margin: 50px auto;
  text-align: center;
}
.response h3 {
  text-align: left;
}
.response textarea {
  width: 80%;
  height: 300px;
  border-radius: 6px;
  border: 1px solid #d1d5da;
  resize: none;
  padding: 10px;
}

.example {
  margin-top: 80px;
}
.website {
  width: 80%;
  border: 1px solid #d1d5da;
  border-radius: 10px;
  margin: 20px auto;
}
.web-header {
  text-align: center;
}
.web-header h3 {
  color: var(--azuloscuro);
  margin: 50px auto;
}
.web-header .currency-value p {
  font-size: 2em;
}
.web-body {
  padding: 20px;
  margin: 30px auto 0 auto;
  background-color: #f3f3f3;
}
.currency-item {
  margin: 30px auto;
  width: 80%;
}
.currency-item img {
  width: 40px;
  vertical-align: middle;
}
.currency-item span {
  display: inline-block;
  vertical-align: middle;
}
.currency-item span p {
  display: inline;
  margin-left: 5px;
}
.web-body .currency-info {
  width: 40%;
}
.currency-info p:last-child {
  color: grey;
  font-size: 0.8em;
}
.currency-value {
  margin-left: 20px;
  text-align: left;
}
.currency-value p {
  font-size: 1.7em;
  color: var(--azuloscuro);
}
.no-data {
  text-align: center;
  color: grey;
  margin: 100px auto;
  font-weight: 300;
}
.use-data {
  margin-top: 30px;
}
